*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  background-color: #00ff95;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00b86b;
}
a{
  text-decoration: none;
  color: #000000;
}
.start{
  width: 100%;
  text-align: center;
}
#start-btn{
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: 100px;
}
#question-box{
  max-width: 80vw;
  min-width: 100px;
  padding: 1rem;
  margin: 2rem auto;
  background-color: #ffffff;
}
#question{
  font-size: 1.5rem;
  margin: 1rem 0;
}
#select{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
}
#select div{
  margin: 0.5rem 0;
}
#question-box p{
  text-align: center;
  font-size: 1.2rem;
}